# System
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.log

# Projects
.phpactor.json
package-lock.json

# AI
.claude
.settings.local.json
.mcp.json
.memorybank
docs
.superpowers
