[alias]
	logg = log --oneline --graph --decorate --all --abbrev-commit
	co = checkout
	ci = commit
	br = branch
	df = diff
	dfs = diff --staged
	st = status
	sw = switch
	re = restore
[color]
	ui = true
[core]
	editor = nvim
	excludesFile = ~/.config/git/.gitignore
[credential]
	helper = osxkeychain
[filter "gitignore"]
	clean = "sed '/\"gitignore$/d'"
	smudge = cat
[init]
	defaultBranch = main
[pull]
	rebase = false
[submodule]
	recurse = true
[user]
	name = Rasmy Nguyen
	email = rtnguyen87@gmail.com
