# nvim
autoload
coc
plugged
undo
undo/*
.NERDTreeBookmarks
.netrwhist
nvim/coc-settings.json

# tmux
resurrect
plugins
*.log

# zsh
config.zsh
preconfig.zsh
.zcompdump
.zcompcache
.zsh_history
.zsh_sessions

# misc
.mono
configstore
gh
git/.privateconfig
github-copilot
phpactor
profanity
valet
menus
